/* MyUser */
#cardImg{
    width: 50%;   
    border-radius: 50%;
    display: block;
    margin: auto;
}

.speech-bubble {
	position: relative;
	background: #f4cdde;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: #f4cdde;
	border-left: 0;
	margin-top: -20px;
	margin-left: -20px;
}